@use 'helpers' as *;

html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: var(--font-size-root);
    scroll-behavior: smooth; /* Supported by firefox and Chrome only. Use a fallback for unsupported browsers, if you need. */
    overflow-x: hidden;
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

body {
    text-rendering: optimizeLegibility;
    font-family: var(--font-family-primary);
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-default-bg);
}

ul,
ol {
    list-style-position: inside;
    padding-inline-start: 0;
}

hr {
    border-width: 1px 0 0 0;
    border-top: 1px solid;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
}

pre {
  font-size: 1.2rem;
}

a {
    color: inherit;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
figure {
    margin: 0;
}

dl {
    text-align: left;
    @include breakpoint(tablet-landscape) {
        display: grid;
        grid-template-columns: max-content auto;
    }
    dt {
      grid-column-start: 1;
    }
    dd {
      grid-column-start: 2;
    }
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
