@use '../helpers' as *;

body.home {
	.sitemain,
	.is-root-container {
		gap: 6rem;
		> * > * {
			@include breakpoint(max-width, max) {
				padding-left: var(--wp--preset--spacing--20) !important;
				padding-right: var(--wp--preset--spacing--20) !important;
			}
		}
		@include breakpoint(tablet-landscape) {
			gap: 10rem;
		}

		// Hero: solo il primo cover è full-width e più alto
		.wp-block-group > .wp-block-cover:first-child {
			border-radius: 0 !important;
			min-height: 85vh;
			display: flex;
			align-items: center;
			padding-block: 4rem;
			@include breakpoint(tablet-landscape) {
				min-height: 70vh;
			}

			> .wp-block-cover__inner-container {
				padding-right: 0;

				@include breakpoint(tablet-landscape) {
					padding-right: 30%;
				}
			}
		}

		// Contenuto interno limitato alla contentSize
		.wp-block-cover__inner-container {
			max-width: var(--max-width);
			margin-left: auto;
			margin-right: auto;
			width: 100%;

			// Spaziatura tra gli elementi
			h1 {
				margin-bottom: 2rem;
				@include breakpoint(tablet-landscape) {
					margin-bottom: 2.4rem;
				}
			}

			p {
				margin-bottom: 3rem;

				@include breakpoint(tablet-landscape) {
					margin-bottom: 4rem;

				}
			}
		}
	}
}