/* PALETTE */
/* dove possibile riprendiamo i colori settati come CSS vars in theme.json per non duplicare valori */
:root {
  --color-primary: var(--wp--preset--color--delft-blue);
  --color-secondary: var(--wp--preset--color--blue-gray);
  --color-tertiary: var(--wp--preset--color--moonstone);
  --color-text: var(--wp--preset--color--black);
  --color-text-inverted: var(--wp--preset--color--white);
  --color-default-bg: var(--wp--preset--color--white);
  --color-secondary-bg: var(--wp--preset--color--white-smoke);
  // definizione RGBA utile per i gradient
  --color-primary-alpha-50: rgba(36, 55, 96, 0.5);     // #243760
  --color-secondary-alpha-50: rgba(108, 157, 217, 0.5);  // #6C9DD9
  --color-tertiary-alpha-50: rgba(83, 194, 215, 0.5);   // #53C2D7
  
  --color-primary-alpha-10: rgba(36, 55, 96, 0.1);     // #243760
  --color-secondary-alpha-10: rgba(108, 157, 217, 0.1);  // #6C9DD9
  --color-tertiary-alpha-10: rgba(83, 194, 215, 0.1);   // #53C2D7
  --color-overlay-alpha: rgba(0, 0, 0, 0.3);        // overlay nero 50%
} 