@use 'sass:math';
@use 'colors' as *;
@use 'typography' as *;
@use 'icons' as *;
@use 'breakpoints' as *;

%cta-reset {
    margin: 0;
    overflow: visible;
    padding: 0;
    background: transparent;
    color: inherit;
    border: 0 none;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
}

%cta-main {
    @extend %cta-reset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
    @extend %font-primary-std;
    font-weight: bold;
    padding: 0.4rem 2.4rem;
    min-height: 5.4rem;
    transition: all 0.3s ease;
    border-radius: 5rem;
    @include breakpoint(tablet-landscape) {
        padding: 0.4rem 3.6rem;
        min-height: 6.4rem;
    }
}

@mixin cta-full($bg-color: var(--color-tertiary), $bg-color-hover: var(--color-secondary), $color: var(--color-primary)) {
    @extend %cta-main;
    color: $color;
    background-color: $bg-color;
    border: 2px solid $bg-color;
    &:hover:not(:focus) {
        text-decoration: none;
        background-color: $bg-color-hover;
        border-color: $bg-color-hover;
    }
}

@mixin cta-outline($color: var(--color-primary), $color-hover: var(--color-secondary)) {
    @extend %cta-main;
    color: $color;
    border: 1px solid currentColor;
    background-color: transparent;
    &:hover:not(:focus) {
        color: $color-hover;
    }
}

%cta-arrowed {
    @extend %cta-reset;
    @extend %font-primary-std;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
    gap: 0.2em;
    transition: color 0.3s ease;
    &::before {
        content: "";
        @include masked-icon(arrow-right, 0.8em);
        transition: transform 150ms ease;
    }
    &:hover {
        color: var(--color-primary);
        &::before {
            transform: rotate(45deg);
        }
    }
}