@use '../helpers' as *;

.sitefooter {
	z-index: 1;
	background-color: var(--color-primary);
	color: var(--color-text-inverted);
	@extend %font-primary-xs;
	margin-top: 6rem;
	&-inner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 4rem;
		padding-top: 6rem;
		padding-bottom: var(--wp--preset--spacing--40);
		padding-inline: var(--wp--preset--spacing--40);
		@include breakpoint(tablet-landscape) {
			max-width: var(--max-width);
			margin-left: auto;
			margin-right: auto;
		}
		@include breakpoint(desktop) {
			padding-inline: 1rem;
		}
	}
	.logo {
		img, svg {
			max-width: 20rem;
		}
	}
	.widgetarea {
		.footer-widget {
			@extend %font-primary-s;
			h3 {
				@extend %font-primary-m;
				font-weight: bold;
				text-transform: uppercase;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					a {
						@extend %font-primary-s;
						text-transform: inherit;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			a {
				color: inherit;
			}
		}
		&--primary {
			width: 100%;
			@include breakpoint(tablet-landscape) {
				width: 40%;
				.wp-block-image {
					max-width: 20rem;
				}
			}
		}
		&--secondary {
			display: flex;
			flex-direction: row;
			/* gap: 1rem; */
			width: 100%;
			justify-content: space-between;
			flex-wrap: wrap;
			@include breakpoint(tablet-landscape) {
				width: 50%;
				min-width: 40rem;	
			}
			.footer-widget:nth-child(1) {
				width: 50%;
				li {
					margin-bottom: 1rem;
				}

				@include breakpoint(tablet-landscape) {
					width: 60%;				
				}

			}
			.footer-widget:nth-child(2) {
				width: 45%;
				p {
					margin-bottom: 1rem;
				}
				@include breakpoint(tablet-landscape) {
					min-width: 20rem;	
					width: 20%;	
				}
			}
		}
		&--credits {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			border-top: 1px solid currentColor;
			padding-top: 4rem;
			width: 100%;
			flex-basis: 100%;
			padding-top: 1rem;
			column-gap: 1rem;
		    
		}
	}
}