@use '../helpers' as *;

// Contact Form 7
.wpcf7 {
	max-width: 64rem;
	margin: 0 auto;

	.wpcf7-form {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		@extend %font-primary-std;
		p {
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
		}
		
		.form-row-half {
			display: grid;
			grid-template-columns: 1fr;
			gap: 2.4rem;
			@include breakpoint(tablet-portrait) {
				grid-template-columns: 1fr 1fr;
			}
		}

		label {
			@extend %font-primary-s;
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
		}

		input:not([type='submit']):not([type='checkbox']):not([type='hidden']),
		textarea {
			@extend %font-primary-s;
			color: var(--color-text);
			background-color: transparent;
			border: 1px solid currentColor;
			border-radius: 0.5rem;
			line-height: 1;
			padding: 1.5rem 1rem;
			height: 4.4rem;
			width: 100%;
			&::placeholder {
				opacity: 0.5;
			}
			&:focus {
				background-color: var(--color-secondary-bg);
				outline: none;
			}
			&[aria-invalid='true'] {
				border-color: var(--color-error);
			}
		}

		textarea {
			height: auto;
			min-height: 12rem;
			resize: vertical;
		}

		// Checkbox privacy
		.wpcf7-acceptance {
			.wpcf7-list-item {
				margin: 0;
				display: inline;
			}
			input[type='checkbox'] {
				@extend %visually-hidden;
				// Sovrascrivi le proprietà che lo rendono non cliccabile
				position: absolute !important;
				top: 0 !important;
				left: 0 !important;
				width: 2rem !important;
				height: 2rem !important;
				clip: auto !important;
				overflow: visible !important;
				margin: 0 !important;
				opacity: 0 !important;
				cursor: pointer !important;
				z-index: 1;
			}
		}

		// Riga con checkbox + testo privacy
		p:has(.wpcf7-acceptance) {
			@extend %font-primary-s;
			flex-direction: row;
			align-items: start;
			gap: 0.8rem;

			.wpcf7-form-control-wrap {
				flex-shrink: 0;
				    position: relative;
					width: 2rem; 
					height: 2rem;   
				&::before {
					content: '';
					display: block;
					width: 2rem;
					height: 2rem;
					border: 1px solid var(--color-primary);
					border-radius: 0.4rem;
				}
			}
			&:has(input:checked) .wpcf7-form-control-wrap::before {
				background-color: var(--color-primary);
				content: '✓';
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.4rem;
			}
		}

		.wpcf7-not-valid-tip {
			@extend %font-primary-xs;
			color: var(--color-error);
		}

		.wpcf7-response-output {
			@extend %font-primary-s;
			margin: 0;
			padding: 1rem;
			border-radius: 0.5rem;
		}

		p:has(input[type='submit']) {
			align-items: flex-end;
		}

		input[type='submit'] {
			@include cta-full;
		}
	}
}