@use '../helpers' as *;

// Contact Form 7
.wpcf7 {
	max-width: 64rem;
	margin: 0 auto;

	.wpcf7-form {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;

		label {
			@extend %font-primary-s;
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
		}

		input:not([type='submit']):not([type='checkbox']),
		textarea {
			@extend %font-primary-s;
			color: var(--color-text);
			background-color: transparent;
			border: 1px solid currentColor;
			border-radius: 0.5rem;
			line-height: 1;
			padding: 0.5rem 1rem;
			height: 4.4rem;
			&::placeholder {
				opacity: 0.5;
			}
			&:focus {
				background-color: var(--color-secondary-bg);
				outline: none;
			}
			&[aria-invalid='true'] {
				border-color: var(--color-error);
			}
		}

		textarea {
			height: auto;
			min-height: 12rem;
			resize: vertical;
		}

		.wpcf7-list-item {
			margin: 0;
		}

		.acceptance-privacy {
			display: flex;
			align-items: start;
			gap: 0.8rem;

			input[type='checkbox'] {
				@extend %visually-hidden;
				& + .wpcf7-list-item-label {
					position: relative;
					display: flex;
					align-items: start;
					gap: 0.8rem;
					&::before {
						content: '';
						display: flex;
						flex-shrink: 0;
						width: 2rem;
						height: 2rem;
						border: 1px solid var(--color-primary);
						border-radius: 0.4rem;
					}
				}
				&:checked + .wpcf7-list-item-label::before {
					background-color: var(--color-primary);
				}
			}
		}

		.wpcf7-not-valid-tip {
			@extend %font-primary-xs;
			color: var(--color-error);
		}

		.btn-primary {
			@include cta-full;
		}
	}
}