@use '../helpers' as *;

:root {
	--header-height: 6rem;
	--header-height-desktop: 9.6rem;
}

.siteheader {
	position: sticky;
	top: 0;
	z-index: 3;
	display: flex;
	flex-direction: row;
    flex-shrink: 0;
	height: var(--header-height);
	background-color: var(--color-default-bg);
	@include breakpoint(tablet-landscape) {
		height: var(--header-height-desktop);
		transition: all 0.3s ease;
	}
	&-inner {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: var(--max-width);
		padding: 1rem;
		margin-left: auto;
		margin-right: auto;
		gap: 2.4rem;
		@include breakpoint(tablet-landscape) {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
	&-logo {
		position: relative;
		z-index: 2;
		height: 3.6rem;
		@include breakpoint(tablet-landscape) {
			height: 4.8rem;
		}
		img, svg {
			height: 100%;
			width: auto;
		}
	}
	&-toggle {
		position: relative;
		z-index: 3;
		display: flex;
		order: 2;
		width: 4.8rem;
		height: 4.8rem;
		@extend %cta-reset;
		color: var(--color-primary);
		transition: transform 0.3s ease;
		&:focus {
			outline: none;
		}
		@include breakpoint(tablet-landscape) {
			display: none;
		}
		&::before,
		&::after {
			position: absolute;
			content: '';
			display: block;
			width: 3rem;
			height: 0.3rem;
			background-color: currentColor;
			transition: all 0.3s ease;
		}
		&::before {
			left: 0.9rem;
			top: 1.2rem;
		}
		&::after {
			left: 0.9rem;
			bottom: 1.3rem;
		}
		&-inner {
			position: absolute;
			content: '';
			display: block;
			width: 3rem;
			height: 0.3rem;
			background-color: currentColor;
			transition: all 0.3s ease;
			right: 0.9rem;
			top: 50%;
			margin-top: -2px;
		}
		&[aria-expanded='true'] {
			transform: rotate(90deg);
			color: var(--color-text-inverted);
			&::before {
				transform: rotate(45deg);
				top: 50%;
				margin-top: -0.15rem;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 50%;
				margin-bottom: -0.15rem;
			}
			.siteheader-toggle-inner {
				width: 0;
			}
			& ~ .siteheader-logo {
				@include breakpoint(tablet-landscape) {
					transition: all 0.3s ease;
				}
				svg path {
					fill: var(--color-text-inverted);
				}
				img {
					filter: brightness(0) invert(1) blur(0.1rem);
					opacity: 0.8;
				}
			}
			& ~ .siteheader-nav {
				right: 0;
			}
		}
	}

	&-nav {
        // Base styles mobile
        @include breakpoint(tablet-landscape, max) {
            display: none;
            position: fixed;
            z-index: 2;
            top: 0;
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            padding: 10rem 2rem 5rem;
            background-color: var(--color-primary);
            color: var(--color-text-inverted);
            transition: right 0.3s ease;
            overflow-y: auto;
            // Quando il toggle principale è attivo
            .siteheader-toggle[aria-expanded='true'] ~ & {
                right: 0;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            li {
                list-style: none;
                a, label {
                    position: relative;
                    text-decoration: none;
                    color: inherit;
                    cursor: pointer;
                    @extend %font-primary-std;
                }
                &[class*="current"]:not(.highlight) {
					> a {
						font-weight: bold;
					}
				}
                &.highlight {
                    @include breakpoint(tablet-landscape, max) {
                        margin-top: auto;
                        margin-bottom: 2rem;
                    }
                    a {
                        @include cta-full();
                        min-height: 4.2rem;
                        padding: 0 2.5rem;
                    }
                }
            }
        }
        .menu-toggle-input {
            @extend %visually-hidden;
            /* &:focus + .menu-toggle-label {
                //TBD focus ma solo con navigazione da tastiera
                outline: 2px solid var(--color-text-inverted);
                outline-offset: 2px;
            } */
        }
        // Label toggle
        .menu-toggle-label {
            display: flex;
            align-items: center;
            justify-content: space-between;  
            // Icona toggle
            .menu-toggle-icon {
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    background-color: currentColor;
                }
                &::before {
                    top: 50%;
                    left: 20%;
                    right: 20%;
                    height: 0.2rem;
                    transform: translateY(-50%);
                }
                &::after {
                    top: 20%;
                    bottom: 20%;
                    left: 50%;
                    width: 0.2rem;
                    transform: translateX(-50%);
                }
            }
        }
        
        // Submenu nascosto di default
        .sub-menu {
            position: relative;
            max-height: 0;
            overflow: hidden;
            padding-left: 2rem;
            .sub-menu-close {
                display: none;
                position: absolute;
                top: 2rem;
                right: 2rem;
                cursor: pointer;
                label {
                    @extend %font-primary-s;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            // Link nei submenu
            a {
                //
            }
            // Terzo livello
            .sub-menu {
                a {
                    opacity: 0.5;
                }
            }
        }
        
        // Quando checkbox è checked
        .menu-toggle-input:checked {
            // Ruota icona
            ~ .menu-toggle-label .menu-toggle-icon {
                &::after {
                    transform: translateX(-50%) rotate(90deg);
                }
            }
            
            // Mostra submenu
            ~ .sub-menu {
                max-height: 100vh;
                padding-top: 2rem;
            }
        }
        
        // Desktop styles
        @include breakpoint(tablet-landscape) {
            display: flex;
            // Menu principale
            > ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
                > li {
                    position: static;
                    // Link diretti primo livello
                    > a {
                        display: block;
                        padding: 0.5rem 1rem;
                    }
                }
            }
            
            // Mega menu desktop
            ul.menu {
                li {
                    &[class*="current"]:not(.highlight) {
                        > a {
                            position: relative;
                            font-weight: normal;
                            &::after {
                                content: '';
                                position: absolute;
                                width: 1.5em;
                                height: 1.5em;
                                background-color: var(--color-tertiary-alpha-50);
                                top: 50%;
                                transform: translateY(-50%);
                                z-index: -1;
                                left: -0.25em;
                                transform-origin: center;
                                transition: all 0.3s ease;
                            }
                            &:hover {
                                &::after {
                                    rotate: -15deg;
                                    background-color: var(--color-secondary-alpha-50);
                                }	
                            }
                        }
                    }
                }
                > .menu-item-has-children {
                    // second level submenu
                    > .sub-menu {
                        display: none;
                        z-index: 2;
                    }
                    &:has(> .menu-toggle-input:checked) {
                        &::before {
                            content: '';
                            position: fixed;
                            top: var(--header-height-desktop);
                            left: 0;
                            width: 100%;
                            height: calc(100vh - var(--header-height-desktop));
                            background-color: var(--color-overlay-alpha);
                            z-index: 1;
                        }
                    }
                     .menu-toggle-icon {                        
                        &::before {
                            top: 20%;
                            left: 40%;
                            right: auto;
                            height: 60%;
                            width: 60%;
                            transform: none;
                            border-left: 1px solid currentColor;
                            border-bottom: 1px solid currentColor;
                            background-color: transparent;
                            rotate: -45deg;
                        }
                        &::after {
                            display: none;
                        }
                    }
                     .menu-toggle-input:checked {
                        // Ruota icona
                        ~ .menu-toggle-label .menu-toggle-icon {
                            &::before {
                                rotate: -225deg;
                            }
                        }
                    }
                    > .menu-toggle-input:checked +label + .sub-menu {
                        display: flex;
                        max-height: none;
                        height: calc(100vh -  var(--header-height-desktop)*2);
                        opacity: 1;
                    }
                    > .sub-menu {
                        position: fixed;
                        top: calc(var(--header-height-desktop) * 1.5);
                        left: calc(var(--header-height-desktop) * 0.5);
                        width: calc(100% - var(--header-height-desktop));
                        max-height: 0;
                        opacity: 0;
                        align-items: flex-start;
                        gap: 4rem;
                        flex-direction: column;
                        flex-wrap: wrap;
                        overflow: visible;
                        background-color: var(--color-default-bg);
                        border: 1px solid var(--color-primary);
                        padding: 8rem;
                        border-radius: var( --radius-m);
            			box-shadow: 1rem 1rem 0 var(--color-tertiary-alpha-50);
                        &:has(.sub-menu) {
                            flex-wrap: nowrap;
                            flex-direction: row;
                            justify-content: space-between;
                            > li:not(.sub-menu-close) {
                                 width: 100%;
                            }
                        }
                        // close button
                        .sub-menu-close {
                            display: block;
                            width: auto;
                        }
                        // Colonne secondo livello
                        > li {
                            display: flex;
                            flex-direction: column;
                            width: auto;
                            gap: 2rem;
                            // Titoli colonna (secondo livello con figli)
                            > .menu-toggle-label {
                                display: flex;
                                padding: 0;
                                font-weight: bold;
                            }
                            .menu-toggle-icon {
                                display: none;
                            }
                            
                            // Link secondo livello
                            > a {
                                //
                            }
                            // Terzo livello
                            .sub-menu {
                                display: flex;
                                flex-direction: column;
                                max-height: none;
                                overflow: visible;
                                li {
                                    // Link terzo livello
                                    a {
                                        //
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}