@use '../helpers' as *;

.icon {
	display: inline-block;
	vertical-align: middle;
	color: inherit;
	fill: currentredColor;
	&--sm {
		width: 2rem;
		height: 2rem;
	}
	&--md {
		width: 2.4rem;
		height: 2.4rem;
	}
	&--lg {
		width: 3.2rem;
		height: 3.2rem;
	}
	&--xl {
		width: 4rem;
		height: 4rem;
	}
}

.svgicon {
}