@use '../helpers' as *;

.sitemain,
.is-root-container {
	.wp-block-columns {
		margin: 0;
		@include breakpoint(tablet-landscape) {
			
		}
		.wp-block-column {
			display: flex;
			flex-direction: column;

			> * {
				margin-inline: 0;	
			}
		}
	}
}