@use '../helpers' as *;

.sitemain,
.is-root-container {
	.wp-block-image {
		&.is-style-watermark {
			position: relative;
			&::after {
				content: '';
				z-index: 2;
				position: absolute;
				@include masked-icon(logo, 4rem, var(--color-text-inverted));
				bottom: 1.6rem;
				right: 1.6rem;
			}
		}
	}
}